body{
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.NoteHeader{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: rgba(0,0,0, .5);
  font-family: 'Acme', sans-serif;
}
.NoteHeader h1{
  margin: 0;
  color: #fff;
  font-size: 50px;
}
.NoteHeader h2{
  margin-top: 10px;
  margin-bottom: 0;
  color: #fff;
  font-size: 30px;
}
.NoteHeader h2 i{
  color: #000;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
}
.NoteBody2{
  display: flex;
  flex-wrap: wrap;
}